@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,700&display=swap');

/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900 */

.raleway-normal {
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

.raleway-bold {
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: italic;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: var(--background);
	color: var(--white-text);
	/* overflow-x: hidden; */
}

html {
	scroll-behavior: smooth;
}



/*Estilo pagina*/

:root {
	--background: #000000;
	--background-minus-black: #121212;
	--third-grade-black: #333;
	--pink-principal: #FF1493;
	--purple-principal: #8A2BE2;
	--celeste-principal: #00FFFF;

	--white-text: #e0e0e0;
}

header {
	/* display: grid; */
	/* grid-template-columns: repeat(2, 1fr); */
	height: 110vh;
	width: 100%;
	align-items: center;

	/* background-image: url('https://www.etapainfantil.com/wp-content/uploads/2020/05/Peliculas-Netflix-familiares-1000x563.jpg.webp'); */
	/* background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%; */
	/* padding-bottom: 5vh; */
	background: radial-gradient(var(--pink-principal), var(--background));

	position: relative;

	/* &::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 10vh;
	} */
}

.header-bar {
	/* display: grid; */
	/* grid-template-columns: 20% 80%; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 10vh;
	padding: 1vh 4vw;
	align-items: center;
	/* background: linear-gradient(to top, rgba(255, 255, 255, 0), var(--background)); */
	/* background-color: var(--background-minus-black); */
	/* backdrop-filter: blur(5px); */
	/* border-style: solid; */
	/* border-color: white;	 */
	/* border-radius: 15px; */
	margin-bottom: 1rem;
}

.logo-header {
	display: flex;
	/* gap: 0.5rem; */
	align-items: center;
	justify-content: space-between;
}

.logo-header i {
	font-size: 1.5rem;
	color: var(--white-text);
}

.logo-header h1 {
	color: var(--pink-principal);
	cursor: pointer;
	position: relative;
	font-size: 2rem;
}

.logo-header h1::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -2px;
	/* Ajusta el valor para la posici칩n del subrayado */
	width: 0;
	height: 2px;
	/* Grosor del subrayado */
	background-color: var(--pink-principal);
	transition: width 0.5s ease-in-out;
	/* Transici칩n para el ancho */
}

.logo-header h1:hover::after {
	width: 100%;
	/* Ancho completo al pasar el cursor */
}

.logo-header h1:not(:hover)::after {
	width: 0;
	/* Ancho cero cuando no se pasa el cursor */
}


.search-container {
	position: relative;
	display: inline-block;
	width: 40%;
}

input[type="text"] {
	padding: 0.6rem;
	border: none;
	border-radius: 5px;
	width: 100%;
	box-sizing: border-box;
	background-color: var(--background-minus-black);
	color: var(--white-text);
	font-size: 1rem;
}

.search-container button {
	padding: 0.6rem;
	border: none;
	border-radius: 0 5px 5px 0;
	background-color: var(--third-grade-black);
	color: white;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 0.8rem;
	font-size: 1rem;

	&:hover {
		background-color: var(--pink-principal);
		transition: 0.5s;
	}

	&:not(:hover) {
		transition: 0.5s;
	}
}

/* button:hover {
	background-color: #333;
  } */

/* Icon inside button */
button i {
	/* font-size: 1rem; */
	height: 100%;

}


.option-search {
	display: flex;
	color: var(--white-text);
	gap: 0.5rem;
	align-items: center;
	padding: 0.5rem;
	border-radius: 5px;
	background-color: var(--pink-principal);

	&:hover {
		transition: 0.5s;
		transform: scale(1.2);
		background-color: var(--white-text);
		color: var(--pink-principal);
	}

	&:not(:hover) {
		transition: 0.5s;
	}
}

.options-header {
	display: flex;
	gap: 3vw;
	justify-content: flex-end;
	align-items: center;
}

.option {
	/* color: var(--pink-principal); */
	cursor: pointer;
	position: relative;
}

.option::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 0;
	height: 2px;
	background-color: var(--white-text);
	transition: width 0.4s ease-in-out;
}

.option:hover::after {
	width: 100%;
	/* Ancho completo al pasar el cursor */
}

.option:not(:hover)::after {
	width: 0;
	/* Ancho cero cuando no se pasa el cursor */
}


.more-popular-hero {
	/* background-color: var(--background-minus-black); */
	/* height: 70vh; */
	padding: 0 8vw;

	display: flex;
	align-items: center;
	justify-content: center;

	/* display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
	grid-auto-rows: 7rem;
	grid-gap: 1.25rem;
	position: relative; */
}

.container-principal-popular {
	/* background-color: var(--background-minus-black);
	grid-column: auto/span 6;
	grid-row: auto/span 4; */
	border-radius: 10px;
	/* background-color: var(--background-minus-black); */
	backdrop-filter: blur(5px);
	background-color: rgba(255, 255, 255, 0.1);
	width: 100%;
	height: 85vh;
	/* display: grid;
	grid-template-rows: 70% 30%; */
}

.container-backdrop-popular {
	border-radius: 10px 10px 0 0;
	/* background-color: #8A2BE2; */
	width: 100%;
	height: 85%;
	background-repeat: no-repeat;
	/* background-attachment: fixed; */
	background-size: cover;
	background-position: center;
	/* background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); */
}


.container-info-popular {
	/* padding: 1rem; */
	/* display: flex;
	flex-direction: column;
	align-items: center; */
	/* gap: 2rem; */
	/* background-color: #00FFFF; */
	height: 15%;
	border-radius: 0 0 10px 10px;
}
.format-container-info-popular{
	display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
	grid-auto-rows: auto;
	grid-gap: 1rem;
	position: relative;
	align-items: center;
	justify-content: center;
	padding: 0 1rem;
	border-radius: 0 0 10px 10px;
	/* margin-left: 1rem;
	margin-right: 1rem; */
	height: 100%;
	/* background-color: #00FFFF; */
}

.poster-popular {
	grid-column: auto/span 3;
	/* display: flex;
	align-items: center;
	justify-content: center; */
	aspect-ratio: 3/4;
	width: 95%;
	margin-top: -100%;
	/* padding-bottom: 1rem; */
	border-radius: 10px;
	/* margin-bottom: 1rem !important; */
}

.play-button{
	/* background-color: var(--white-text); */
	/* border: var(--white-text) solid 5px; */
	grid-column: 4/span 1;
	height: 150%;
	margin-top: -45%;
	width: 150%;
	/* border-radius: 100%; */
	margin-left: -1rem;
	color: var(--white-text);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 6rem;
}
.titles-popular{
	grid-column: 5/span 8;
	margin-left: 1rem;
}
.titles-popular h2{
	font-size: 1.7rem;
}
.headerURL {
	color: var(--white-text);
	transition: color 1s; /* Transici칩n para el color de texto */

	&:hover {
		transform: scale(1.03);
		transition: transform 1s;
		/* color: var(--pink-principal); */

		/* Cambios en el header cuando .headerURL se hoverea */
		.format-container-info-popular {
			background-color: rgba(255, 255, 255, 0.2);
			transition: 1s;
		}
		i{
			/* color: var(--background); */
			transition: 1.2s;
		}
	}

	&:not(:hover) {
		transition: 1.2s;

		.format-container-info-popular {
			transition: 1s;
		}
	}
}

.container-backdrop-popular h2 {
	margin-top: 1rem;
	padding: 0.5rem 1rem;
	width: 35%;
	border-radius: 0 15px 15px 0px;
	background-color: var(--background-minus-black);
}

.card-popular-hero {
	grid-column: auto/span 3;
	grid-row: auto/span 2;
	background-color: var(--background-minus-black);
	border-radius: 20px;
	display: grid;
	grid-template-columns: 45% 55%;
	align-items: center;
	padding: 1rem;
}

.poster-card-popular-hero {
	height: 90%;
	/* width: auto; */
	/* margin-top: -1rem; */
	/* background-image: url('https://image.tmdb.org/t/p/w500/1E5baAaEse26fej7uHcjOgEE2t2.jpg'); */
	background-repeat: no-repeat;
	background-attachment: inherit;
	background-size: cover;
	border-radius: 5px;
	margin-right: 0.5rem;
}

.information-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 1rem;
	text-align: center;
	gap: 1rem;
}

.container-buttons-hero {
	/* display: flex; */
	/* justify-content: center; */
	gap: 5vw;
	width: 40vw;
}

.button-hero {
	margin-top: 4vh;
	height: 5vh;
	width: 10vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container-invitation-filter {
	/* background: linear-gradient(to left, var(--purple-principal), var(--celeste-principal)); */
	/* background-color: var(--third-grade-black); */
	/* background: linear-gradient(to bottom, var(--pink-principal), var(--background)); */
	backdrop-filter: blur(5px);
	background-color: rgba(255, 20, 147, 0.6);
	margin: 0 3vw;
	color: var(--white-text);
	text-align: center;
	padding: 2.5rem;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.4rem;
	font-size: 2rem;

	&:hover{
		transform: scale(1.02);
		background-color: rgba(255, 20, 147, 0.8);
		transition: 0.2s;
	}
	&:not(:hover){
		transition: 0.2s;
	}
}

a {
	text-decoration: none;
}

main {
	/* display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
	grid-auto-rows: 7rem;
	grid-gap: 1.25rem;
	position: relative; */
	display: flex;
	flex-direction: column;
	gap: 2rem;

	margin: 2rem 3rem;
}

.section-in-theaters {
	/* background-color: var(--background-minus-black); */
	grid-column: auto/span 12;
	grid-row: auto/span 3;
}

.section-popular {
	/* background-color: var(--background-minus-black); */
	grid-column: auto/span 12;
	grid-row: 4/span 3;
}

.section-top-rated {
	/* background-color: var(--background-minus-black); */
	grid-column: auto/span 12;
	grid-row: 7/span 3;
	margin-top: 1rem;
}
.section-trailers {
	/* background-color: var(--background-minus-black); */
	grid-column: auto/span 4;
	grid-row: auto/span 9;
	margin-left: 1rem;
}

.button-movie-popular {
	cursor: pointer;
	/* background: linear-gradient(to left, var(--purple-principal), var(--celeste-principal));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; */
	background-color: var(--white-text);
	border-radius: 10px;
	color: var(--background);
	border-color: var(--background);
	border-width: 1px;
	border-style: solid;
	padding: 0.5rem;
}

.contenedorTeatros {
	/* background-color: #8A2BE2; */
	padding: 1rem 0;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 1rem;
	text-align: center;
	overflow-x: scroll;
	border-radius: 1rem;
}

.peliculaTeatros {
	/* background-color: var(--background-minus-black); */
	border-radius: 1rem;
	cursor: pointer;
	background-color: var(--background-minus-black);
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
	padding-bottom: 0.2rem;

	&:hover{
		transform: scale(1.03);
		background-color: var(--white-text);
		color: var(--background-minus-black);
		/* border: var(--white-text) solid 1px; */
		transition: 0.2s;
	}
	&:not(:hover){
		transition: 0.2s;
	}
}

.peliculaTeatros .peliTeatro {
	border-radius: 1rem 1rem 0 0;
	width: 30vw;
}

.contenedorTrailers {
	display: flex;
	/* flex-direction: column; */
	overflow-x: scroll;
	/* overflow-y: visible; */
	gap: 0.5rem;
	margin-top: 1rem;
	padding-bottom: 1rem;
}
.trailerFrame{
	background-color: #00FFFF;
}

iframe {
	width: 100%;
	/* height: 20rem; */
	border-radius: 10px;
}

.contenedor {
	/* background-color: #00FFFF; */
	height: 95%;
	padding: 1rem 0;
	display: grid;
	grid-template-columns: repeat(21, 1fr);
	/* text-align: center; */
	overflow-x: scroll;
	overflow-y: hidden;
	border-radius: 1rem;
	gap: 1.15rem;
}

.contenedor .pelicula {
	text-align: center;
	cursor: pointer;

	&:hover{
		transform: scale(1.08);
		transition: 0.2s;
	}
	&:not(:hover){
		transition: 0.2s;
	}
}

/* .contenedor .pelicula .titulo {
	font-weight: 600;
	font-size: 16px;
} */

.contenedor .pelicula .poster {
	height: 100%;
	width: 14vw;
	/* width: 100%; */
	/* margin-bottom: 10px; */
	border-radius: 1rem;
}

.contenedor .pelicula .posterRated {
	height: 95%;
	width: 14vw;
	/* width: 100%; */
	/* margin-bottom: 10px; */
	border-radius: 1rem;
}

.header-section-pelis {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* background-color: #00FFFF; */
}

.paginacion {
	/* position: fixed; */
	/* bottom: 0; */
	/* background: #100a1f; */
	/* width: 100%; */
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	/* padding: 10px; */
}

.paginacion button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
	width: auto;
	/* padding: 0 1rem; */
	background: var(--background);
	color: #fff;
	/* border-radius: 100px; */
	transition: .3s ease all;
	/* font-size: 1rem; */
}

button i {
	font-size: 2rem;
}

/* .paginacion button:hover {
	background: #137c32;
} */

footer {
	/* background-color: var(--background-minus-black); */
	width: 100%;
	height: 12vh;
	padding: 1rem 3rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

/* Estilo para la lista desordenada (ul) */
ul {
	list-style: none;
	/* Elimina los marcadores */
	padding: 0;
	/* Elimina el relleno predeterminado */
	margin: 0;
	/* Elimina el margen predeterminado */
}

/* Estilo para los elementos de la lista (li) */
ul li {
	display: inline;
	/* Organiza los elementos horizontalmente */
	margin-right: 10px;
	/* A침ade un espacio entre los elementos */
}

.info-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: auto;
}

.info-footer a {
	color: var(--white-text);

	&:hover {
		text-decoration: underline;
	}
}

.elements-footer {
	display: flex;
	gap: 0.5rem;
}


/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

/* Estilo del scrollbar */
*::-webkit-scrollbar {
	width: 10px;
	/* Ancho del scrollbar vertical */
	height: 7px;
	/* Alto del scrollbar horizontal */
}

/* Estilo del thumb (barra deslizadora) */
*::-webkit-scrollbar-thumb {
	background: linear-gradient(45deg, var(--pink-principal), var(--white-text));
	border-radius: 10px;
}

/* Estilo de la pista (track) */
*::-webkit-scrollbar-track {
	background: transparent;
	/* Color de fondo del track */
}