@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: #000000;
  color: #e0e0e0;
}

html {
  scroll-behavior: smooth;
}

header {
  height: 110vh;
  width: 100%;
  align-items: center;
  background: radial-gradient(#FF1493, #000000);
  position: relative;
}
header .header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 1vh 4vw;
  align-items: center;
  margin-bottom: 1rem;
}
header .logo-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo-header i {
  font-size: 1.5rem;
  color: #e0e0e0;
}
header .logo-header h1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  font-size: 2rem;
  color: #FF1493;
  cursor: pointer;
  position: relative;
}
header .logo-header h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  /* Ajusta el valor para la posición del subrayado */
  width: 0;
  height: 2px;
  /* Grosor del subrayado */
  background-color: #FF1493;
  transition: width 0.5s ease-in-out;
  /* Transición para el ancho */
}
header .logo-header h1:hover::after {
  width: 100%;
  /* Ancho completo al pasar el cursor */
}
header .logo-header h1:not(:hover)::after {
  width: 0;
  /* Ancho cero cuando no se pasa el cursor */
}
header .search-container {
  position: relative;
  display: inline-block;
  width: 40%;
}
header .search-container input[type=text] {
  padding: 0.6rem;
  border: none;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  background-color: #121212;
  color: #e0e0e0;
  font-size: 1rem;
}
header .search-container button {
  padding: 0.6rem;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #333;
  color: #e0e0e0;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0.8rem;
  font-size: 1rem;
}
header .search-container button:hover {
  background-color: #FF1493;
  transition: 0.5s;
}
header .search-container button:not(:hover) {
  transition: 0.5s;
}
header .search-container button i {
  height: 100%;
}
header .options-header {
  display: flex;
  gap: 3vw;
  justify-content: flex-end;
  align-items: center;
}
header .options-header a {
  color: #e0e0e0;
}
header .options-header .option {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
}
header .options-header .option::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #e0e0e0;
  transition: width 0.4s ease-in-out;
}
header .options-header .option:hover::after {
  width: 100%;
  /* Ancho completo al pasar el cursor */
}
header .options-header .option:not(:hover)::after {
  width: 0;
  /* Ancho cero cuando no se pasa el cursor */
}
header .options-header .option-search {
  display: flex;
  color: #e0e0e0;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #FF1493;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
}
header .options-header .option-search:hover {
  transition: 0.5s;
  transform: scale(1.2);
  background-color: #e0e0e0;
  color: #FF1493;
}
header .options-header .option-search:not(:hover) {
  transition: 0.5s;
}
header .more-popular-hero {
  padding: 0 8vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .more-popular-hero .headerURL {
  color: #e0e0e0;
  transition: color 1s; /* Transición para el color de texto */
}
header .more-popular-hero .headerURL:hover {
  transform: scale(1.03);
  transition: transform 1s;
  /* Cambios en el header cuando .headerURL se hoverea */
}
header .more-popular-hero .headerURL:hover .format-container-info-popular {
  background-color: rgba(255, 255, 255, 0.2);
  transition: 1s;
}
header .more-popular-hero .headerURL:hover i {
  transition: 1.2s;
}
header .more-popular-hero .headerURL:not(:hover) {
  transition: 1.2s;
}
header .more-popular-hero .headerURL:not(:hover) .format-container-info-popular {
  transition: 1s;
}
header .more-popular-hero .headerURL .container-principal-popular {
  border-radius: 10px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 85vh;
}
header .more-popular-hero .headerURL .container-principal-popular .container-backdrop-popular {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 85%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header .more-popular-hero .headerURL .container-principal-popular .container-backdrop-popular h2 {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  width: 35%;
  border-radius: 0 15px 15px 0px;
  background-color: #121212;
}
header .more-popular-hero .headerURL .container-principal-popular .container-info-popular {
  height: 15%;
  border-radius: 0 0 10px 10px;
}
header .more-popular-hero .headerURL .container-principal-popular .container-info-popular .format-container-info-popular {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border-radius: 0 0 10px 10px;
  height: 100%;
}
header .more-popular-hero .headerURL .container-principal-popular .container-info-popular .format-container-info-popular .poster-popular {
  grid-column: auto/span 3;
  aspect-ratio: 3/4;
  width: 95%;
  margin-top: -100%;
  border-radius: 10px;
}
header .more-popular-hero .headerURL .container-principal-popular .container-info-popular .format-container-info-popular .play-button {
  grid-column: 4/span 1;
  height: 150%;
  margin-top: -45%;
  width: 150%;
  margin-left: -1rem;
  color: var(--white-text);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
}
header .more-popular-hero .headerURL .container-principal-popular .container-info-popular .format-container-info-popular .titles-popular {
  grid-column: 5/span 8;
  margin-left: 1rem;
}
header .more-popular-hero .headerURL .container-principal-popular .container-info-popular .format-container-info-popular .titles-popular h2 {
  font-size: 1.7rem;
}/*# sourceMappingURL=indexStyle.css.map */